{% extends "layout.html" %} {% block title %} BibTex -lähdehallintatyökalu {%
endblock %} {% block body %}


<div id="messages">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="message {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

<button id="add-source-btn" class="circle" title="Lisää lähde">
    <i class="fa-solid fa-plus"></i>
</button>

<form
    action="/"
    method="POST"
    id="add-source-form"
    class="{% if show_add_form %}show{% endif %}"
>
    <div class="inner">
        <div class="top-row">
            <h2>Lisää lähde</h2>
            <button class="close" type="button">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>

        <div class="content">
            <label for="type">Tyyppi</label>
            <select name="type">
                <option value="book">Kirja</option>
            </select>

            <label for="bibtex_key">Avain</label>
            <input
                type="text"
                name="bibtex_key"
                placeholder="Avain"
                oninput="this.value = this.value.replace(/[^0-9a-zA-Z\-_:]/, '')"
                value="{{form_data["bibtex_key"] or "" if form_data else ""}}" 
            />

            <label for="title">Otsikko</label>
            <input type="text" name="title" placeholder="Otsikko" value="{{form_data["title"] or "" if form_data else ""}}" />

            <label for="author">Kirjoittaja</label>
            <input type="text" name="author" placeholder="Kirjoittaja" value="{{form_data["author"] or "" if form_data else ""}}" />

            <label for="publisher">Julkaisija</label>
            <input type="text" name="publisher" placeholder="Julkaisija" value="{{form_data["publisher"] or "" if form_data else ""}}" />

            <label for="year">Vuosi</label>
            <input
                type="text"
                oninput="this.value = this.value.replace(/[^0-9]/, '')"
                name="year"
                placeholder="Vuosi"
                value="{{form_data["year"] or "" if form_data else ""}}" 
            />

            <button type="submit" class="btn primary">Lisää</button>

            {% if error %}
            <div class="error">{{ error }}</div>
            {% endif %}
        </div>
    </div>
</form>

<script>
    const addSourceBtn = document.getElementById('add-source-btn');
    const addSourceForm = document.getElementById('add-source-form');
    const addSourceFormSubmitButton = document.querySelector(
        '#add-source-form button[type="submit"]',
    );
    const addSourceFormCloseButton = document.querySelector(
        '#add-source-form button.close',
    );
    const messages = document.querySelectorAll('.message');

    addSourceBtn.onclick = () => {
        addSourceForm.classList.add('show');
    };

    const closeAddSourceForm = () => addSourceForm.classList.remove('show');

    addSourceFormCloseButton.onclick = closeAddSourceForm;

    window.addEventListener('keydown', (e) => {
        if (e.key === 'Escape') closeAddSourceForm();
    });

    messages.forEach(message => {
        message.onclick = () => message.classList.add('hide');
    });
</script>

{% endblock %}
