/* NOTE: Kyseess채 on index.html -templateen liittyv채t tyylittelyt, ei p채채asiallinen tyylitiedosto (main.css) */

.modal-form {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    transition: opacity var(--transition-duration) ease-out;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form.show {
    opacity: 1;
    pointer-events: initial;
}

.modal-form .inner {
    background-color: white;
    border-radius: var(--border-radius);
    margin: 0 1em;
    max-height: calc(100% - 1em);
    max-width: calc(100% - 1em);
    display: flex;
    flex-direction: column;
}

.modal-form .inner .top-row {
    padding: 0.7em 0.6em;
    padding-left: 1.1em;
    padding-bottom: 0;
}

.modal-form .inner .content {
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: 1em;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 0.2em;
}

#add-form-fields {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(12, auto);
    column-gap: 1em;
    overflow-x: auto;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
}

.modal-form h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0;
}

.modal-form .top-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.modal-form button[type='submit'] {
    align-self: flex-end;
    margin-top: 2em;
}

#add-source-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.source-list {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.source {
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: var(--border-radius);
    padding: 0.6em 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.source:hover button[type='submit'] {
    opacity: 1;
}

.source button.delete {
    border: none;
    background: none;
    color: var(--color-red);
    padding: 0.6em 0.8em;
    background-color: white;
    border-radius: var(--border-radius);
    transition:
        color var(--transition-duration) ease-out,
        opacity var(--transition-duration) ease-out;
    opacity: 0;
}

.source button.delete:hover {
    color: var(--color-red-dark);
}

.source .buttons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.source .top-row {
    display: flex;
    justify-content: space-between;
}

.source .info {
    display: flex;
    flex-direction: column;
}

.source .info .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.source .key {
    opacity: 0.7;
}

.source .title {
    font-weight: 600;
    font-size: 18px;
    color: #222;
    margin-bottom: 0.4em;
}

.source .author,
.source .publisher,
.source .year {
    font-size: 14px;
    color: #555;
}

.source:hover {
    border-color: #888;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: all var(--transition-duration) ease-out;
}

.source .tags {
    display: flex;
    gap: 0.5em;
    padding-top: 1em;
    padding-bottom: 0.4em;
}

.source .tags .tag,
.source .tags button.add-tag {
    --h-pad: 0.8em;
    --bg-color: var(--color-green);
    background-color: var(--bg-color);
    color: white;
    padding: 0.2em var(--h-pad) 0.1em var(--h-pad);
    border-radius: 1em;
    position: relative;
    cursor: default;
    border: none;
}

.source .tags button.add-tag {
    cursor: pointer;
    background-color: var(--color-green);
    transition: background-color var(--transition-duration) ease-out;
    padding-top: 0.3em;
}

.source .tags button.add-tag:hover {
    background-color: var(--color-green-dark);
}

.source .tag button.delete {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition:
        opacity var(--transition-duration) ease-out,
        color var(--transition-duration) ease-out;
}

.source .tag:hover button.delete {
    opacity: 1;
}

.source .tag button.delete:hover {
    color: white;
}

.source .tag button.delete i {
    background: radial-gradient(var(--bg-color) 50%, transparent 100%);
    padding: 0.4em 0.6em 0.2em 0.2em;
    font-size: 0.8rem;
    display: block;

    transform: scaleX(1.1);
}
